<a href="https://colab.research.google.com/github/SK2810/python-V1/blob/main/KMeans.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv("/3.01. Country clusters.csv")

In [3]:
data.head()

   Country  Latitude  Longitude Language
0      USA     44.97    -103.77  English
1   Canada     62.40     -96.80  English
2   France     46.75       2.40   French
3       UK     54.01      -2.53  English
4  Germany     51.15      10.40   German

In [10]:
#to get all rows of relevent columns
new_data=data.iloc[:,1:3]

In [11]:
new_data.head()

   Latitude  Longitude
0     44.97    -103.77
1     62.40     -96.80
2     46.75       2.40
3     54.01      -2.53
4     51.15      10.40

In [13]:
from sklearn.cluster import KMeans
kmeans=KMeans(3) #denotes the number of clusters that we shall have

In [14]:
kmeans.fit(new_data)

KMeans(n_clusters=3)

In [15]:
identified_clusters=kmeans.fit_predict(new_data)

In [16]:
identified_clusters # the output shows three cluster 2 zero means USA and Canada, 3 ONES means France Germany and UK and TWO denotes Australia

array([0, 0, 1, 1, 1, 2], dtype=int32)